version: "3.8"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "80:80"
        environment:
            - NODE_ENV=production
            - NEXT_TELEMETRY_DISABLED=1
            - PORT=80
            - HOSTNAME=0.0.0.0
        restart: unless-stopped
        container_name: crawling-app
